@use '@/app/variables.scss' as *;
@use '@/app/mixins.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include title;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: $form-width-m;
}

.actions {
  display: flex;
  gap: 10px;
}
