@use '@/app/variables.scss' as *;

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius-full;
  border: 1.5px solid $border-defaul;
  background: $bg-primary;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0;

  &:hover:not(.disabled) {
    border-color: $accent-blue;
  }

  &.checked {
    background: $accent-blue;
    border-color: $accent-blue;

    svg {
      color: $text-on-color;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
