@use '@/app/variables.scss' as *;

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius-full;
  border: 1.5px solid $color-border;
  background: $color-background-primary;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0;

  &:hover:not(.disabled) {
    border-color: $color-blue;
  }

  &.checked {
    background: $color-blue;
    border-color: $color-blue;

    svg {
      color: $color-text-inverse;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
