@use '@/app/variables.scss' as *;

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;
  border: 1px solid $border-default;
  border-radius: $radius-m;
  background: $bg-primary;
  text-decoration: none;
  color: $text-primary;
}

.title {
  font-size: $font-l;
  font-weight: 600;
}

.description {
  font-size: $font-m;
  color: $text-secondary;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-s;
  color: $text-secondary;
}

.lessonsCount {
  display: flex;
  width: fit-content;
  font-size: $font-s;
  color: $text-secondary;
  border-radius: $radius-full;
}
