@use '@/app/variables.scss' as *;
@use '@/app/mixins.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  @include title;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.empty {
  text-align: center;
  color: $text-secondary;
  font-size: $font-l;
  padding: 40px 0;
}

@media (max-width: $breakpoint-mobile) {
  .grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
