@use '@/app/variables.scss' as *;

.group {
  display: flex;
  padding: 2px;
  border-radius: $radius-full;
  border: 1px solid $border-default;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: $radius-full;
  background: transparent;
  color: $text-primary;
  cursor: pointer;
  font-size: $font-s;
  font-family: inherit;

  &:hover {
    color: $text-tertiary;
  }

  &.active {
    background: $bg-tertiary;

    &:hover {
      color: $text-primary;
    }
  }

  svg {
    flex-shrink: 0;
  }
}
