@use '@/app/variables.scss' as *;
@use '@/app/mixins.scss' as *;

.container {
  max-width: $form-width-s;
}

.section {
  margin-bottom: 30px;
}

.sectionTitle {
  @include title;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
