@use '@/app/variables.scss' as *;
@use '@/app/mixins.scss' as *;

.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.card {
  max-width: 400px;
  width: 100%;
  background: $color-background-primary;
  border-radius: $radius-container;
}

.section {
  margin-bottom: 30px;
}

.sectionTitle {
  @include title;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
