@use '@/app/variables.scss' as *;
@use '@/app/mixins.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-bottom: 20px;
}

.sectionTitle {
  @include title;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: $form-width-s;
}
