@use '@/app/variables.scss' as *;
@use '@/app/mixins.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.label {
  font-size: $font-s;
  color: $text-secondary;
}

.input {
  height: $control-height-m;
  padding: 0 14px;
  font-size: $font-m;
  border: 1px solid $border-default;
  border-radius: $radius-s;
  background: $bg-primary;
  color: $text-primary;
  outline: none;

  &.error {
    border-color: $accent-red;
  }
}

.errorText {
  font-size: $font-s;
  color: $accent-red;
}
